<div>
  <h1 id="tableLabel" style="font-size: 1.8rem; text-align: center; color: deepskyblue; text-shadow: none">Weather forecast</h1>

  <p style="font-size: 1.4rem; text-align: center; color: deepskyblue; text-shadow: none">This component demonstrates fetching data from the server.</p>

  <p *ngIf="!forecasts"><em>Loading...</em></p>
</div>
<table class='table table-striped table-hover' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead style="background-color: skyblue">
    <tr>
      <th>Id</th>
      <th>Date</th>
      <th>Temp. (C)</th>
    </tr>
  </thead>
  <tbody style="background-color:lightgray; opacity:0.8;">
    <tr *ngFor="let forecast of forecasts | slice:0:10" scope="row">
      <td>{{ forecast.weatherHistoryId }}</td>
      <td>{{ forecast.date }}</td>
      <td>{{ forecast.temperatureC }}</td>
    </tr>
  </tbody>
</table>
