<div *ngIf="geoLocationData">
  <p style="font-size: 2.5rem; text-align: center; color: deepskyblue; text-shadow: none">Weather in you'r current location: {{ geoLocationData.city.name }}</p>
</div>
<br />
<br />
<div *ngIf="forecasts" class="card-deck">
  <div *ngFor="let forecast of forecasts.list | slice:0:7" class="card">
    <img [src]=ShowIconImg(forecast.weather[0].icon) class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title"><a [routerLink]="['/customfetch-data']">{{ forecasts.city.name }}</a></h5>
      <p class="card-text">{{ forecast.main.temp | number:'1.0-0' }}°C </p>
      <div *ngFor="let weather of forecast.weather">
        <small class="text-muted">{{ weather.main }}</small>
      </div>
    </div>
    <div class="card-footer">
      <span style="text-align:center;"> {{ forecast.dt_txt | date:'h:mm a' }}</span>
    </div>
  </div>
</div>
