<div>
  <p style="font-size: 2.5rem; text-align: center; color: deepskyblue; text-shadow: none">Weather in you'r current location: {{geoLocationData.city.name}}</p>
</div>
<br />
<br />
<div class="card-deck">
  <div *ngFor="let forecast of forecasts.list | slice:0:7" class="card">
    <img [src]=ShowIconImg(forecast.weather[0].icon) class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title"><a [routerLink]="['/customfetch-data']">{{ forecasts.city.name }}</a></h5>
      <p class="card-text">{{ forecast.main.temp | number:'1.0-0' }}°C</p>
    </div>
    <div *ngFor="let weather of forecast.weather" class="card-footer">
      <small class="text-muted">{{ weather.main  }}</small>
    </div>
  </div>
</div>
  <!--<table *ngIf="geoLocationData" class='table table-striped table-hover' aria-labelledby="tableLabel">
    <thead style="background-color: skyblue">
      <tr>
        <th>Location</th>
        <th>Date Time</th>
        <th></th>
        <th>Description</th>
        <th>Current Temp.(C)</th>
        <th>Temp_Max</th>
        <th>Temp_Min</th>
      </tr>
    </thead>
    <tbody *ngFor="let forecast of forecasts.list | slice:0:10" style="background-color:lightgray; opacity:0.8;">
      <tr *ngFor="let weather of forecast.weather" scope="row">
        <td><a [routerLink]="['/weather-detail', forecast.dt_txt]">{{ forecasts.city.name }}</a></td>
        <td>{{ forecast.dt_txt | date:'EEEE MMM h:mm a' }}</td>
        <td><img [src]=ShowIconImg(forecast.weather[0].icon) width="50" height="50" /></td>
        <td>{{ weather.main }}</td>
        <td>{{ forecast.main.temp | number:'1.0-0' }}</td>
        <td>{{ forecast.main.temp_max | number:'1.0-0' }}</td>
        <td>{{ forecast.main.temp_min | number:'1.0-0' }}</td>
      </tr>
    </tbody>
  </table>-->
