<div class="card">
  <div *ngIf="forecastDetail">
    <div *ngFor="let forecast of forecastDetail.list | slice:0:10" class="card-body" style=" margin-left:28.5rem; align-items:center;">
      <h6 style="">{{ forecast.dt_txt | date:'EEEE MMM h:mm a' }}</h6>
      <div *ngFor="let weather of forecast.weather">
        <img [src]=ShowIconImg(forecast.weather[0].icon) />
      </div>
      <p>{{cityName }}<span style="font-size:medium"> {{ forecast.main.temp | number:'1.0-0' }}<sup>°C</sup></span></p>
      <div>
        <p>Humidity {{ forecast.main.humidity }}<sup>RHhr </sup></p>
        <p>Wind Speeds {{forecast.wind.speed}}</p>
      </div>
    </div>
    <div class="card-footer">
      <button (click)="onBack()"
              style="border-radius: 0.3rem 0.4rem; margin-left: 30rem; background-color: aliceblue">
        <i class="fa fa-chevron-left"></i>Back
      </button>
    </div>
  </div>
</div>
